{% extends "admin/base_site.html" %}


{% block content %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

<script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2012",
      // You can put more options here.

    });
  });
  </script>
<h1>Course Assignment:</h1>

<form action="" method="post">
{% csrf_token %}

    <ul>
    {% for course in courses %}
       {% if not course.assigned_count|add:course.accepted_count >= course.max_faculty_count %}
	   <li> {{ course }} </li>
	   <input type="hidden" name="_selected_action" value="{{ course.pk }}">
	   <input type="hidden" name="record_exists" id="record_exists" value='true'>
	   {% endif %}
    {% endfor %}
	</ul>

    <p><h3>Assign above Courses to:</h3></p>
	<div id="usermsg" style="display:none; color: red;"><p>The count of faculty who have accepted or have been offered teaching the selected course has been reached.</p><p>No further allocation can happen till any faculty offered to teach the course rejects the offer</p></div>

  {{ form.as_p }}

    <input type="hidden" name="action" value="assign_course" />
    <input id="submitbutton" type="submit" name="update" value="Assign" />
	<input type="button" value="Back" onClick="history.go(-1);return true;">
</form>
<script>
if (!document.contains(document.getElementById("record_exists"))) {
            document.getElementById("submitbutton").remove();
			document.getElementById('usermsg').style.display = 'block';
} 
</script>

{% endblock %}
