{% extends "admin/base_site.html" %}


{% block content %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

<script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "2016:2025",
      // You can put more options here.

    });
  });
  </script>
<h1>Please Fill in the following Fields for Interview Calls :</h1>

<form action="" method="post">
{% csrf_token %}

  {{ form.as_p }}

    <p>Interview Calls will be sent to:</p>
	<div id="usermsg" style="display:none; color: red;">No valid records found. Please try again</div>

    <ul>
    {% for candidate in candidates %}
       {% if candidate.application_status == 'Shortlisted' %}
	   <li> {{ candidate }} </li>
	   <input type="hidden" name="_selected_action" value="{{ candidate.pk }}">
	   <input type="hidden" name="record_exists" id="record_exists" value='true'>
	   {% endif %}
    {% endfor %}
	</ul>
    <input type="hidden" name="action" value="interview_candidate_call" />
    <input id="submitbutton" type="submit" name="update" value="Update" />
    <input type="button" value="Back" onClick="history.go(-1);return true;">
</form>
<script>
if (!document.contains(document.getElementById("record_exists"))) {
            document.getElementById("submitbutton").remove();
			document.getElementById('usermsg').style.display = 'block';
} 
</script>
{% endblock %}