{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
	  .results {
                width: 600px;
            }
            
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);

</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
&rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">

    {% block object-tools %}
      {% if has_add_permission %}
        <ul class="object-tools">
          {% block object-tools-items %}
            <li>
              {% url cl.opts|admin_urlname:'add' as add_url %}
              <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
                {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
              </a>
            </li>
          {% endblock %}
        </ul>
      {% endif %}
     
    {% endblock %}
    {% if cl.formset.errors %}
        <p class="errornote">
        {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      {% block search %}{% search_form cl %}{% endblock %}
      {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

      {% block filters %}
        {% if cl.has_filters %}
          <div id="changelist-filter">
            <h2>{% trans 'Filter' %}</h2>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
          </div>
        {% endif %}
      {% endblock %}

      <form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
      {% if cl.formset %}
         <div></div>
        <div >{{ cl.formset.management_form }}</div>
      {% endif %}

      {% block result_list %}
          {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
          {% result_list cl %}
          {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
          <script type="text/javascript">
          (function($) {
          $(document).ready(function($) {                    
                var list = $('input[id $= -current_faculty_flag]');
				
				var upperLowerArray =[];
				/*if(window.localStorage.getItem("ulArray")){
					//console.log( JSON.parse(window.localStorage.getItem("ulArray")));
					upperLowerArray = JSON.parse(window.localStorage.getItem("ulArray"));
				}*/
				
                for(var String = 0;String < list.length;String++)
                {
                        var lower_gap_id="id_form-"+String+"-lower_tech_interval_gap";
                        var upper_gap_id="id_form-"+String+"-upper_tech_interval_gap";
						
                        var lower=$("#"+lower_gap_id).val();
                        var upper=$("#"+upper_gap_id).val();
						
						if(lower && upper){
							var myObj = {}
							myObj.lower = lower;
							myObj.lowerID = lower_gap_id;
							myObj.upper = upper;
							myObj.upperID = upper_gap_id;
							
							upperLowerArray.push(myObj)
						}
						
						
                        var current_flag_id="id_form-"+String+"-current_faculty_flag";
                        var inactive_faculty_id="id_form-"+String+"-inactive_faculty_flag";                        
                        var inactiveflag_val=$("#"+inactive_faculty_id).val();
                        last0=(list.length-1);
                        last1=(list.length-2);
                        last2=(list.length-3);
                        if(String==0 || String==1 || String==last0)
                        {
                                $("#"+lower_gap_id).val("").prop('readonly', true);
                                $("#"+upper_gap_id).val("").prop('readonly', true);
								
                                //$("#"+current_flag_id).attr("disabled", true);
                                //$("#"+inactive_faculty_id).attr("disabled", true);                                
                                if(String==0)
                                {
                                  $("#"+current_flag_id).attr('checked',true)
                                  $("#"+current_flag_id).val('1')
                                  $("#"+inactive_faculty_id).attr("disabled", true);
                                }
                                if(String==1)
                                {
                                  $("#"+inactive_faculty_id).attr('checked',true)
                                  $("#"+current_flag_id).attr("disabled", true);
                                }
                                if(String==last0)
                                {
                                  $("#"+inactive_faculty_id).attr('disabled',true)
                                  $("#"+current_flag_id).attr("disabled", true);
                                }                                
                        }
                        else
                        {
								$("#"+current_flag_id).attr("disabled", true);
								$("#"+inactive_faculty_id).attr("disabled", true);                        
                        
                        }                                                      
                }
				console.log(upperLowerArray)
            $('input[id $= -current_faculty_flag]').bind("click",function () {
            var id=this.id;
            var String = id.split(/[--]/);
            var lower_gap_id="id_form-"+String[1]+"-lower_tech_interval_gap";
            var upper_gap_id="id_form-"+String[1]+"-upper_tech_interval_gap";
            if($(this).is(':checked') == true)
            {
                $("#"+lower_gap_id).val("").prop('readonly', true);
                $("#"+upper_gap_id).val("").prop('readonly', true);
            }
            else
            {
                $("#"+lower_gap_id).val("").prop('readonly', false);
                $("#"+upper_gap_id).val("").prop('readonly', false);
            }
          });
            $('input[id $= -inactive_faculty_flag]').bind("click",function () {
            var id=this.id;
            var String = id.split(/[--]/);
            var lower_gap_id="id_form-"+String[1]+"-lower_tech_interval_gap";
            var upper_gap_id="id_form-"+String[1]+"-upper_tech_interval_gap";    
            if($(this).is(':checked') == true)
            {
                $("#"+lower_gap_id).val("").prop('readonly', true);
                $("#"+upper_gap_id).val("").prop('readonly', true);
            }
            else
            {
                $("#"+lower_gap_id).val("").prop('readonly', false);
                $("#"+upper_gap_id).val("").prop('readonly', false);
            }
          });
          $('input[id $= -lower_tech_interval_gap]').bind('change', function () {
                var id=this.id;
                var val = this.value;
                //alert(val);
                var String = id.split(/[--]/);
                var current_flag_id="id_form-"+String[1]+"-current_faculty_flag";
                var inactive_faculty_id="id_form-"+String[1]+"-inactive_faculty_flag";
                if (val=="")
                {
                    $("#"+current_flag_id).attr("disabled", true);
                    $("#"+inactive_faculty_id).attr("disabled", true);
                }                
                else if(val<=0)
                {
                     alert("Value Can Not be Zero");
                     $("#"+id).val("");
                }
                else if(val!="")
                {
                    $("#"+current_flag_id).attr("disabled", true);
                    $("#"+inactive_faculty_id).attr("disabled", true);
                }
                else
                {
                    $("#"+current_flag_id).attr("disabled", true);
                    $("#"+inactive_faculty_id).attr("disabled", true);
                }                               
          });
		  
           $('input[id $= -upper_tech_interval_gap]').bind('change', function () {
                var id=this.id;
                var val = this.value;
                var String = id.split(/[--]/);
                var current_flag_id="id_form-"+String[1]+"-current_faculty_flag";
                var inactive_faculty_id="id_form-"+String[1]+"-inactive_faculty_flag";
                var lower_gap_id="id_form-"+String[1]+"-lower_tech_interval_gap";
                var upper_gap_id="id_form-"+String[1]+"-upper_tech_interval_gap";
				
                if (val=="")
                {
                    $("#"+current_flag_id).attr("disabled", true);
                    $("#"+inactive_faculty_id).attr("disabled", true);
                }
                else if(val<=0)
                {
                     alert("Value Can Not be Zero");
                     $("#"+id).val("");
                }    
                else if(val!="")
                {
                    $("#"+current_flag_id).attr("disabled", true);
                    $("#"+inactive_faculty_id).attr("disabled", true);
                }
                else
                {
                    $("#"+current_flag_id).attr("disabled", true);
                    $("#"+inactive_faculty_id).attr("disabled", true);
                }
          });
		  $(document).on('focusin','input[id $= -lower_tech_interval_gap]',function(){
			 // console.log("focus val : "+this.value+" : "+this.id)
			 
			  if(this.value){
				  for(var i=0;i<upperLowerArray.length;i++){
					  if(upperLowerArray[i].lowerID == this.id){
						 // console.log( $("#"+upperLowerArray[i].lowerID).val(""))
						  $("#"+upperLowerArray[i].lowerID).val("")
						  $("#"+upperLowerArray[i].upperID).val("")
						  upperLowerArray.splice(i,1)
						  
						  //console.log(upperLowerArray)
					  }
			  	  }
			  }
			  
		  });
		  
		  $(document).on('focusin','input[id $= -upper_tech_interval_gap]',function(){
			 // console.log("focus val : "+this.value+" : "+this.id)
			 
			  if(this.value){
				  for(var i=0;i<upperLowerArray.length;i++){
					  if(upperLowerArray[i].upperID == this.id){
						  //console.log( $("#"+upperLowerArray[i].lowerID).val(""))
						  $("#"+upperLowerArray[i].lowerID).val("")
						  $("#"+upperLowerArray[i].upperID).val("")
						  upperLowerArray.splice(i,1)
						  console.log("pop")
						 // console.log(upperLowerArray)
					  }
			  	  }
			  }
			  
		  });
		  
		   $(document).on('focusin','input[id $= -upper_tech_interval_gap]',function(){
			   var id=this.id;
                var val = this.value;
                var String = id.split(/[--]/);                
                var lower_gap_id1="id_form-"+(parseInt(String[1])+1)+"-lower_tech_interval_gap";
                var upper_gap_id="id_form-"+(String[1])+"-upper_tech_interval_gap";
                var lower_gap_id2="id_form-"+(parseInt(String[1]))+"-lower_tech_interval_gap";
				var lower1=$("#"+lower_gap_id1).val();
                var lower2=$("#"+lower_gap_id2).val();
                var upper=$("#"+upper_gap_id).val();
				//console.log(lower2)
				if(lower2){
				}
				else{
					//alert("Lower value can not be zero");
				}
		   });
		  
		  $(document).on('focusout','input[id $= -lower_tech_interval_gap]',function(){
			  var id=this.id;
                var val = this.value;
                //alert("lower");
                var String = id.split(/[--]/);
                var lower_gap_id="id_form-"+String[1]+"-lower_tech_interval_gap";
                var upper_gap_id1="id_form-"+(String[1]-1)+"-upper_tech_interval_gap";
                var upper_gap_id2="id_form-"+String[1]+"-upper_tech_interval_gap";
                var lower=$("#"+lower_gap_id).val();
                var upper1=$("#"+upper_gap_id1).val();
                var upper2=$("#"+upper_gap_id2).val();
				//console.log(upperLowerArray.length)
				
				
				if(upperLowerArray.length != 0){
					console.log(upperLowerArray)
					for(var i=0;i<upperLowerArray.length;i++){
						
						//console.log(upperLowerArray[i]);
						//var splitval = upperLowerArray[i].split("-");
						var lowerSplit = upperLowerArray[i].lower;
						var upperSplit = upperLowerArray[i].upper;
						//console.log(lower+" "+lowerSplit+" : "+upperSplit)
						
						if(Number(lower) >=Number(lowerSplit) && Number(lower) < Number(upperSplit)){
							alert("Bucket entry not saved as it as an overlap with another existing bucket");
							$("#"+id).val("");
						}
						else{
						}
					}
					
				}
				//console.log(lower)
				//lowerArray.push(lower)
				//console.log(lowerArray)       
		  });
		  $(document).on('focusout','input[id $= -upper_tech_interval_gap]',function(){
			  var id=this.id;
                var val = this.value;
                var String = id.split(/[--]/);                
                var lower_gap_id1="id_form-"+(parseInt(String[1])+1)+"-lower_tech_interval_gap";
                var upper_gap_id="id_form-"+(String[1])+"-upper_tech_interval_gap";
                var lower_gap_id2="id_form-"+(parseInt(String[1]))+"-lower_tech_interval_gap";
                var lower1=$("#"+lower_gap_id1).val();
                var lower2=$("#"+lower_gap_id2).val();
                var upper=$("#"+upper_gap_id).val();
				//console.log(lower1)
				//console.log(lower2)
				//console.log(lower_gap_id2)
				var myObj = {}
				myObj.lower = lower2;
				myObj.lowerID = lower_gap_id2;
				myObj.upper = upper;
				myObj.upperID = id;
				
				
				
				if(Number(lower2) > Number(upper)){
					alert("Lower value cannot be greater than Upper value");
					$("#"+id).val("");
				}
				else{
						if(upperLowerArray.length != 0){
							//console.log(upperLowerArray)
							var isFormat = true;
							for(var i=0;i<upperLowerArray.length;i++){
								
								var lowerSplit = upperLowerArray[i].lower;
								var upperSplit = upperLowerArray[i].upper;
								//console.log(lower+" "+lowerSplit+" : "+upperSplit)
								
								if(Number(upper) >Number(lowerSplit) && Number(upper) <= Number(upperSplit)){
									isFormat= false;
									alert("Bucket entry not saved as it as an overlap with another existing bucket");
									$("#"+id).val("");
									
								}
								else{
									
								}
							}
							if(isFormat == true){
								storeValues()
							}
						}
						else{
							storeValues()
						}
						
				}
				
				
				
				function storeValues(){
						if(lower2 && upper ){
							if(upperLowerArray.length >0){
								var isExists = false;
								for(var i=0;i<upperLowerArray.length;i++){
								  if(Number(upperLowerArray[i].lower) == Number(lower2) && Number(upperLowerArray[i].upper) == Number(upper)){
									  isExists = true;
								  }
								}
								if(isExists == false){
									upperLowerArray.push(myObj)
									//console.log(upperLowerArray)
								}
							}
							else{
									upperLowerArray.push(myObj)
									//console.log(upperLowerArray)
							}
						}
				}
				
				
		  });
          
		  $(document).on("click","#getSave",function(e){
			 //console.log(upperLowerArray)
			 //window.localStorage.setItem("ulArray",JSON.stringify(upperLowerArray));
			// e.preventDefault();
		  });
		  
          /*$('input[id $= -lower_tech_interval_gap]').bind('change blur', function (e) {
			    e.preventDefault();
                var id=this.id;
                var val = this.value;
                //alert(val);
                var String = id.split(/[--]/);
                var lower_gap_id="id_form-"+String[1]+"-lower_tech_interval_gap";
                var upper_gap_id1="id_form-"+(String[1]-1)+"-upper_tech_interval_gap";
                var upper_gap_id2="id_form-"+String[1]+"-upper_tech_interval_gap";
                var lower=$("#"+lower_gap_id).val();
                var upper1=$("#"+upper_gap_id1).val();
                var upper2=$("#"+upper_gap_id2).val();
                //alert(lower);
                //alert(upper_gap_id1);
                //alert(upper1);
                //alert(upper2);
				
                if(Number(lower)!="" && Number(upper1)!="")
                {
					
                         if(Number(lower)==0)
                        {                                
                                alert("Lower value can not be zero");
                                $("#"+lower_gap_id).focus();
                                $("#"+lower_gap_id).val("");
                                return false;
                        }                         
                       if(Number(lower)<Number(upper1))
                        {
                                alert("Bucket entry not saved as it as an overlap with another existing bucket");
                                $("#"+lower_gap_id).focus();
                                $("#"+lower_gap_id).val("");
                                return false;
                        } 
						               
                }
                if(Number(lower)!="" && Number(upper2)!="")
                {
                        if(Number(upper2)<Number(lower))
                        {       
                                alert("Please check the Lower and Upper values");
                                $("#"+lower_gap_id).focus();
                                $("#"+lower_gap_id).val("");
                                return false;                        
                        }
                }                             
          });*/
          /*$('input[id $= -upper_tech_interval_gap]').bind('change blur', function () {          
                var id=this.id;
                var val = this.value;
                var String = id.split(/[--]/);                
                var lower_gap_id1="id_form-"+(parseInt(String[1])+1)+"-lower_tech_interval_gap";
                var upper_gap_id="id_form-"+(String[1])+"-upper_tech_interval_gap";
                var lower_gap_id2="id_form-"+(parseInt(String[1]))+"-lower_tech_interval_gap";
                var lower1=$("#"+lower_gap_id1).val();
                var lower2=$("#"+lower_gap_id2).val();
                var upper=$("#"+upper_gap_id).val();
                if(Number(lower1)!="" && Number(upper)!="")
                {                
                        if(Number(lower1)<Number(upper))
                        {       
                                alert("Bucket entry not saved as it as an overlap with another existing bucket");
                                $("#"+upper_gap_id).focus();
                                $("#"+upper_gap_id).val("");
                                return false;                       
                        }
                }
                if(Number(lower2)!="" && Number(upper)!="")
                { 
                        if(Number(lower2)==0)
                        {
                                alert("Lower value can not be zero");

                                $("#"+lower_gap_id2).focus();

                                $("#"+lower_gap_id2).val("");

                                return false;
                        }
                        if(Number(upper)<Number(lower2))

                        {       
                                alert("Please check the Lower and Upper values");

                                $("#"+upper_gap_id).focus();

                                $("#"+upper_gap_id).val("");

                                return false;

                        }
                }
          });*/
          });

          })(django.jQuery);

          </script>

      {% endblock %}

      {% block pagination %}{% pagination cl %}{% endblock %}

      </form>

    </div>

  </div>

{% endblock %}
